.contact {
	padding-left: 10px;
}

.tab1 {
	background-color: #E58A99;
}

.tab2 {
	background-color: #65B9E0;
}

.tab3 {
	background-color: #B7E488;
}

.first-line {
    font-size: 2.1em;
    text-shadow: 0px 2px 0px rgba(255,255,255,.5);
}

.second-line {
    font-size: 0.6em;
    color:#555;
}

.cancel-icon {
	background: url(images/delete.png) no-repeat;
}

.x-hasbadge .x-badge {
    -webkit-border-radius: 1.2em;
    border-radius: 1.2em;
}
